<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row" appMagic>
    <div class="col-md-12">
        
    </div>
    <div class="row">
        <div class="col-md-4" appMgic>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, ullam obcaecati? Molestiae odio quaerat recusandae dolores dolore porro corporis. Deleniti earum molestias commodi, tempora a ab labore quod culpa magnam.
        </div>
        <div class="col-md-4"appMgic>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, ullam obcaecati? Molestiae odio quaerat recusandae dolores dolore porro corporis. Deleniti earum molestias commodi, tempora a ab labore quod culpa magnam.
        </div>
        <div class="col-md-4"appMgic>
            <div class="col-md-4">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, ullam obcaecati? Molestiae odio quaerat recusandae dolores dolore porro corporis. Deleniti earum molestias commodi, tempora a ab labore quod culpa magnam.
        </div>
    </div>
</div>